<div class="comments">
<script src="https://giscus.app/client.js"
        data-repo="Linmiao010/discussion"
        data-repo-id="R_kgDORHd1Dw"
        data-category="Announcements"
        data-category-id="DIC_kwDORHd1D84C1zyg"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</div>